extends layout

block content
  //p= JSON.stringify(data)
   
  form.form(method='POST')
    .description
      h1 Node Entry Creation
  
    .wrap
      input(type='text', name='name', placeholder="Node Name")
    .ip
      input(type='text', name='ipadress', placeholder="IP Adress")
    .port
      input(type='text', name='port', placeholder="Port")
    .wrap
      input(type='submit', value='Submit')
    