extends layout
block js
  script.
    $(document).ready( function(){
    
      var c = $('.respondCanvas'); 
           
      $(window).resize( respondCanvas );   
           
      function respondCanvas(){ 
        c.each(function(){
          var container = $(this).parent();
          var ctx = this.getContext('2d');
          
          var w = $(container).width();
          var h = $(container).height();
          $(this).attr('width', w ); //max width
          $(this).attr('height', h ); //max height   
          
          var img = $(container).find(".innerPicture");
                 
          ctx.fillStyle = "#FFF100";
          ctx.drawImage(img,0,0,w,h);
          //Call a function to redraw other content (texts, images etc)          
        });
      }
      //Initial call 
      respondCanvas();
    }); 
    
block content
  -var tempscale = { 15: "#3571b8", 20: "#4fbfa1", 25: "#efe763", 30: "#f2696a" };
  .grid
    each node, id in data
      .gridItem
        .wrapper
          a.inner(href="/node/"+id)
            -var hexCode = "#ff0000"
            header= node.NiceName
            each hex, temp in tempscale
              if(temp > node.Readings[0]) 
                -hexCode = hex
                -break
            .imageWrapper
              canvas(width=100,height=100).respondCanvas
              img(src="servernodetest.png").innerPicture
            .timeSinceUpdate 
              .innerTimeWrapper
                span.center +#{node.LastReading}s
            .tempReading(style="background: " + hexCode) #{node.Readings[0]}°C