extends layout
block js
  script.
    $(document).ready( function(){
      //Get the canvas &
      context var c = $('#respondCanvas');
      var ct = c.get(0).getContext('2d');
      var container = $(c).parent();
  
      //Run function when browser resizes
      $(window).resize( respondCanvas );
  
      function respondCanvas(){ 
          c.attr('width', $(container).width() ); //max width
          c.attr('height', $(container).height() ); //max height
  
          //Call a function to redraw other content (texts, images etc)
      }
      //Initial call 
      respondCanvas();
    }); 
    
block content
  -var tempscale = { 15: "#3571b8", 20: "#4fbfa1", 25: "#efe763", 30: "#f2696a" };
  .grid
    each node, id in data
      .gridItem
        .wrapper
          a.inner(href="/node/"+id)
            -var hexCode = "#ff0000"
            header= node.NiceName
            each hex, temp in tempscale
              if(temp > node.Readings[0]) 
                -hexCode = hex
                -break
            .timeSinceUpdate +#{node.LastReading}s
            .tempReading(style="background: " + hexCode) #{node.Readings[0]}°C