extends layout

block content
	h1= title
	p= nice_name
 
 
	table.table.tablealignshit
		thead
			tr
				th.table-bordered Sensor Name
				th.table-bordered Value
				
	each sensor, id in sensors
		tr
			td.table-bordered= "Temperature"
			td.table-bordered= sensor.value / 1000
