extends layout

block append scripts
  script(src='/js/chart.min.js')

block content
  .content
    h1
      span nod 
      | #{nice_name}
    table.nodetable
      thead
        tr
          td.table-left Sensor Name
          td.table-right Value
          
      each sensor, id in sensors
        tr
          case sensor.type
            when "temperature"
              td.table-bordered= "Temperature"
              td.table-bordered= (sensor.value / 1000) + "C"
            when "picture"
              td.table-bordered= "Kamera"
              td.table-bordered
                img(src="/"+node_id+"-"+sensor.value,width=300,height=200)